.header-wrap{
    max-width: 1060px;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    position: relative;
    padding: 0 160px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
     
    .logo-wrap{
     position: absolute;
     top: 10px;  
     left: 0; 
        .logo-demo{
            width: 160px;
            height: 95px;
        }
    }
    .center{
        width: 64%;
        height: 38px;
        .input-srch{
            width: 100%;
            height: 100%;
            margin-top: 20px;   
            form{
                position: relative;
                box-sizing: content-box;
               height: 100%;
               padding: 4px 60px 4px 15px;
               display: flex;
               border: 2px solid var(--purple100);
               border-radius: 44px;
                input{
                    width: 100%;
                    height: 100%;
                }
                .srch-btn{
                    position: absolute;
                    top:-2px;
                    right:-1px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: linear-gradient(to bottom right, var(--purple100),var(--purple200));
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                
            }
        }
        .keywords{
            display: flex;
            margin-top: 30px;
            
            .key{
                display: inline-block;
                margin-right: 5px;
                background-color: #f8f8f8;
                border-radius: 28px;
                padding: 0 10px;
                font-size: 13px;
                letter-spacing: -0.5px;
            }
            .thou{
                display: none;
            }
        }
    }
    
    .ser-wrap{
        position: absolute;
        top: 35px;
        right: 10px;
        font-weight: 400;
        height: 35px;
        .guide-pop{
            font-size: 14px;
        }
        .guide-pop::after{
            content: '';
            display: inline-block;
            border-right: 2px solid var(--black500);
            margin-left: 10px;
            margin-right: 10px;
           height: 10px;
        }
        .service-pop{
            
        }
    }

}

