.nav-wrap{
    width: 100%;
    max-width: 1060px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;

      }
      
      .popup-content {
        position: absolute;
        top:20px;
        left:50%;
        transform:translate(-50%);
        background: white;
        border-radius: 8px;        
        width: 70%;
        max-width: 1060px;
        box-sizing: content-box;
        padding: 50px 60px 0 60px;
        height: 60%;
        .foot-bk{
            background-color: var(--white200);
            position: absolute;
            bottom: 0;
            left:0px;
            width: 100%;
            height: 400px;
            z-index: -1;
        }
      }
      
      
      .close-btn {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top:10px;
        right: 50px;
      }
      .popup-header {
        
        margin-bottom: 20px;
        .menu-options{
            display: flex;
            .gana{
                display: flex;;
            }
            img{
                width: 17px;
                height: 17px;
            }
            .img-wrap{
                width: 17px;
                height: 17px;
                position: relative;
                overflow: hidden;
            }
            .gana-img{
                width: 17px;
                height: 34px;
                position: absolute;
                top:0;
                left: 0;
            }
            .on{
                width: 17px;
                height: 34px;
                position: absolute;
                bottom:0;
                left: 0;
            }
        }

    }
      .popup-body{
        a{
            margin: 5px 0;
        }
        display: flex;
        .popup-bold{
            font-family: 'Noto-Sans-medium';
            font-size: 18px;
            width: 235px;
            height: 37px;
            margin-bottom: 5px;
        }
        .sorting-menu{
            display: flex;
            width: 100%;
            height: 300px;
            
            .menu-section{
                width: 25%;
                .text-list{
                    .popup-text{
                        display: block;
                        font-family: 15px;
                    }
                }
            }
        }
      }
      .footer-sections{
        display: flex;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        .footer-section{
            border-right: 1px solid rgb(189, 189, 189);
            padding-right: 100px;
            padding-left: 10px;
            .tomypage{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 9px;
                    height: 9px;
                    margin-left: 15px;
                    margin-right: 10px;
                }
 
            }
            .foot-list{
                display: flex;
                flex-direction: column;
            }
            &:last-child {
                border-right:  none; /* 마지막 li의 border-bottom 제거 */
            }

        }
    }
      
    
      
      
      
      
      
    .list{
        height: 60px;
        background-color: var(--white);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            font-family: 'Noto-Sans-medium';
            display: inline-block;
            font-size: 19px;
            box-sizing: content-box;
            padding: 0 30px;
            text-align: center;
                text-align: center;
            .my-img{
                width: 21px;
                height: 21px;
            }
        }
        .text:hover{
            color: var(--purple300);
        }

    }

    .site-map-btn{//a
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 22.5px 18px;
        span{
            display:block;
            width: 24px;
            height: 2px;
            background-color: var(--black);
            margin-bottom: 5px;
        }
    }
    .sign-wrp{
        display: flex;
        width: 300px;
        p{
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2px;
        }
        .signup{
            
            background: linear-gradient(to bottom right, var(--purple100),var(--purple200));
            font-size: 15px;
            color: var(--white);
            height: 40px;
            padding: 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            border: 1px solid #e6e6e6;
            img{
                width: 20px;
                height: 20px;
            }

        }
        .signin{
            background-color: var(--white);
            margin-left: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 15px;
            font-size: 15px;
            border-radius: 40px;
            border: 1px solid #e6e6e6;
            box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.12);
            img{
                width: 20px;
                height: 20px;
                margin-right: 5px;;
            }
        }
    }

}
.drop-menu{
    .dropdown-content{
        background-color: var(--white);
        height: 340px;
        position: absolute;
        top:180px;
        left:0;
        z-index:1000;
        width: 100%;
        display: flex;
        .menu-header{
            padding: 20px 20px 20px 120px;
            padding-left: 250px;
            background-color: #eff3f7;
            position: relative;
            .drop-img{
                width: 120px;
                height: 130px;
            position: absolute;
            top:30px;
            left: 140px;
            }
            .drop-hd{
                .ani-line{
                    width: 40px;
                    height: 3px;
                    background-color: var(--purple100);
                    animation: ani_line 0.5s forwards;
                    margin-bottom: 10px;
                }
                .drop-h2{
                    display: flex;
                    justify-content: baseline;
                    font-family: 'Noto-Sans-Bold';
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .drop-p{
                    text-align: left;
                    width: 140px;
                    height: 54px;
                    font-size: 14px;
                }
            }
        }
        .menu-list{
            list-style: disc;
            line-height: 1.8s;
            margin: 0;
            padding-inline-start: 1.5em;
            li::marker {
                content: '•'; /* 불릿 모양 */
                font-size: 0.8rem; /* 불릿 크기 조절 */
                color: var(--purple300); /* 불릿 색상 */
            }
            li{
                padding-left: 10px;
            }
            .purple-text{
                display: inline-block;
                color: var(--purple300);
                font-family: 'Noto-Sans-medium';
                width: 200px;
                font-size: 13px;
                margin-top: 10px;
            }
        }
        .a-tags{
            .content{
                padding-top: 10px;
                width: 70%;
                height: 30px;
                font-size: 12px;
                a{
                    
                    color:var(--black200)
                }
                a::after{
                    content: "";
                    display:inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 0 5px;
                    background-color: var(--black200);
                }   
                a:last-child::after{
                    content: none;
                }
            }
            
        }
        
       
        
    }

}

@keyframes ani_line{
    0%{
        width: 0;
    }
    100% {
        width: 40px;
    }
}
