.main-wrap{
    background-color: var(--white);
    height: 300vh;
    margin: 0 auto;
    width: 100%;
    .main-hd{
        position: fixed;
        top:0;
        left:50%;
        transform: translateX(-50%);
        z-index: 100000;
        background-color: var(--white);
        width: 100vw;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    }
    @media (min-width: 1400px) {
        .visual-banner-wrap{
            .swiper-pagination{
                display: none;
            }
        }
    }
    @media (max-width: 1100px) {
        .header-wrap{
            .keywords{
            .last{
                display: none;
            }}

        }
        .nav-wrap{
        .list{
            justify-content: left;
            .text {
                font-size: 17px;
                padding: 0 15px;
            }
        }
    }
    }
    @media (max-width: 1000px) {
        .header-wrap{
            .keywords{
            .sec{
                display: none;
            }     }
            .ser-wrap{
                position: absolute;
                top: 25px;
                right:50px;
            }
       }
       .nav-wrap{
        position: relative;
        .list{
            .text {
                font-size: 13px;
                
            }

        }
        .sign-wrp{
            position: absolute;
            top:15px;
            right: 0px;
            height: 32px;;
            justify-content: right;
            .signup{

                font-size: 13px;
                height: 32px;
                width: 105px;
            }
            .signin{
                font-size: 13px;
                height: 32px;
            }
          
        }
    }
    }
    @media (max-width: 900px) {
        .header-wrap{
            padding: 0 10px;
            padding-top: 40px;
            height: 150px;
            .logo-wrap{
                margin-left: 20px;
                .logo-demo{
                    width: 80px;
                    height: 45px;
                }
            }
            .center{
                width: 98%;
                height: 100%;
                padding: 0;
                .input-srch{
                    height: 38px;
                }
            }
            flex-direction: column;
            .keywords{
            .sec{
                display: block;
            } 
            .last{
                display: block;
            }   
            .thou{
                display: block;
            } 
        }
        .ser-wrap{
            position: absolute;
            top: 25px;
            right:50px;
        }
       }
       .nav-wrap{
        .list{
            .text {
                font-size: 13px;
                
            }
        }

    }
    }
    @media (max-width: 800px) {
        .header-wrap{
            padding: 0 10px;
            padding-top: 40px;
            height: 150px;
            .logo-wrap{
                margin-left: 20px;
                .logo-demo{
                    width: 80px;
                    height: 45px;
                }
            }
            .center{
                width: 100%;
                height: 100%;
                padding: 0;
                .input-srch{
                    height: 38px;
                }
            }
            flex-direction: column;
            .keywords{
            .sec{
                display: block;
            } 
            .last{
                display: block;
            }    
        }
        .ser-wrap{
            position: absolute;
            top: 25px;
            right:15%;
        }
       }
       .nav-wrap{
        .sign-wrp{
            position: absolute;
            top:15px;
            right: 10px;
            height: 32px;
            width: 70px;
            .signin{
                width: 34px;
                height: 32px;
            }
            .signup{
                width: 34px;
                height: 32px;
            }
            p{
                display: none;
            }
        }

    }
    }
}
.footer-wrap{
    width: 100%;
    position: absolute;
    top:320vh;
    left: 50%;
    transform: translateX(-50%);
    .no{
        display: none;
    }
    .footer{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

