button {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
    font-size: 14px;

}

// 각 컴포넌트 가장 바깥 div에 해당 클래스를 넣으면 자동으로 설정됩니다.
.container {
    margin: 0 auto;
    background-color: var(--white);
    width: 500px;
    height: 100vh;
    min-height: 1080px;
}

// 해당 클래스를 붙이면 display가 무조건 none이 됩니다.
.none {
    display: none;
}

input {
    background-color: var(--none);
    outline: none;
}

input::placeholder {
    color: var(--placeholder);
    /* 원하는 색상으로 변경 */
    opacity: 1;
    /* 기본값은 0.5로, 필요에 따라 변경 가능 */
    font-size: 14px;
    font-weight: 700;
}
