@font-face {
  font-family: 'Noto-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/NotoSansKR-Regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'Noto-Sans-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/NotoSansKR-Bold.woff2') format('woff2'); 
  }
  @font-face {
    font-family: 'Noto-Sans-medium';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/NotoSansKR-Medium.woff2') format('woff2'); 
  }