
:root {
    --mainfont:'Noto-Sans';
    --placeholder:#6e6e6e;
    // 메인 컬러 
    --purple100: #5b5ee3;
    --purple200: #8b66de;

    // 각종 검정색-회색
    --black: #151515;
    --black100: #323232;
    --black200: #868686;
    --black300: #E2E8F0;
    --black400: #969AA3;
    --black500: #dadfe9;

    // 하얀색
    --white: #fff;
    --white100:#F7F8FA;
    --white200:#E2E8F0;

    // 투명
    --none: #00000000;
    --red: #DD0000;
    
    //배경색
    --bkcolor:rgb(236, 249, 255);

    // 폰트 세팅
    font-family: var(--mainfont) ;

    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}